<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Frase</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <a href="/">Inicio</a>
        <a href="/frase">Frase del d칤a</a>
    </header>
    
    <div class="container">
        <h1>Acerca de esta Aplicaci칩n</h1>
        <p>Esta aplicaci칩n fue creada para demostrar lo divertida y din치mica que puede ser una app hecha con Express y NodeJS.</p>
        <h2>Frase del D칤a</h2>
        <p id="frase"><em>"<%= frase %>"</em></p>
        
        <button onclick="location.reload()">Otra Frase 游땏</button>
        <button onclick="location.href='/'">Volver al Inicio</button>
    </div>
    
    <footer class="footer">
        &copy; 2024 Mi Aplicaci칩n Web. Todos los derechos reservados.
    </footer>
</body>
</html>
